.footer_1jyse7p {
    background: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-left: 75px;
    max-width: 600px;
}

.footerCaption_2r5qf {
    color: black;
}